@model SelectAndRepair.Web.ViewModels.Organizations.OrganizationWithServicesViewModel
@{
    this.ViewData["Title"] = "Organization: " + Model.Name;
}

<div class="row row-eq-height">
    <div class="col-lg-4 info_box_col">
        <div class="info_box p-2" style="background-color: #F4F8FB">
            <div class="info_image"><img src="@Model.ImageUrl" width="100%"></div>
            <div class="info_content">
                <div class="info_text pt-4 pb-4"> Organization Name: <strong>@Model.Name</strong></div>
                <div class="info_text">Category: <strong>@Model.CategoryName</strong></div>
                <div class="info_text">City: <strong>@Model.CityName</strong></div>
                <div class="info_text">Address: <strong>@Model.Address</strong></div>
                <div class="info_text">
                    Rating:
                    <span>&nbsp; [ @Model.Rating.ToString("F") / 5.00 ]</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="pt-2 d-flex justify-content-between">
            <h2 class="ml-5 mt-2">Services: </h2>
            <form method="post" asp-area="" asp-controller="Organizations" asp-action="SendToEmail" asp-route-id="@Model.Id">
                <button class="btn btn-warning text-dark" style="padding: 12px">Send to my email</button>
            </form>
            <a class="btn btn-info" style="padding-top: 12px;" asp-area="" asp-controller="Organizations" asp-action="Index">Back to organizations</a>
        </div>
        <div class="tab_panel active">
            <div class="tab_panel_content">
                <div class="tab_list">
                    <ul style="list-style-type: none">
                        @foreach (var service in Model.OrganizationService.Where(x => x.Available == true))
                        {
                        <li class="border mt-3">
                            <div class="list-group-item-info font-weight-bolder pl-2" style="font-size: 17px">@service.ServiceName</div>
                            <div class="tab_list_text mt-1 mb-2 pl-2">@service.ServiceDescription</div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="mapdiv" style="width: 300px; height:300px; margin: 10px 0px 0px 20px !important;"></div>

    </div>
</div>

@section Scripts{
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script>
        $(document).ready(function () {
            map = new OpenLayers.Map("mapdiv");
            map.addLayer(new OpenLayers.Layer.OSM());

            var lonLat = new OpenLayers.LonLat(23.337140, 42.690250)
                .transform(
                    new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                    map.getProjectionObject() // to Spherical Mercator Projection
                );

            var zoom = 16;

            var markers = new OpenLayers.Layer.Markers("Markers");
            map.addLayer(markers);

            markers.addMarker(new OpenLayers.Marker(lonLat));

            map.setCenter(lonLat, zoom);
        });
    </script>
}