@model SelectAndRepair.Web.ViewModels.Organizations.OrganizationsByUserListViewModel
@{
    this.ViewData["Title"] = "Organizations";
}

@if (!Model.Organizations.Any())
{
    <h2 class="ml-5">No results!</h2>
}

<div class="row">
    @foreach (var organization in Model.Organizations)
    {
        <div class="col-xl-3 col-md-6 mb-2">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top" src="@organization.ImageUrl" alt="Card image cap" style="height: 200px">
                <div class="card-body">
                    <h3 class="card-title">@organization.Name</h3>
                    <h6 class="card-title">@organization.CategoryName</h6>
                    <p class="card-text">@organization.CityName, @organization.Address</p>
                    <a class="btn btn-info" asp-area="" asp-controller="Organizations" asp-action="Details" asp-route-id="@organization.Id">
                            See Services
                    </a>
                </div>
            </div>
        </div>
    }
</div>
