@model SelectAndRepair.Web.ViewModels.Organizations.OrganizationsListViewModel
@{
    this.ViewData["Title"] = "Organizations";
}

<h2 class="pt-2 pb-2 d-flex justify-content-between">
    All Organizations [ @Model.Organizations.Count() ]
    <div class="d-block">
        <a class="btn btn-info" asp-area="Administration" asp-controller="Organizations" asp-action="AddOrganization">Add New Organization</a>
        <a class="btn btn-outline-info" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Back to Dashboard</a>
    </div>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">City</th>
            <th scope="col">Address</th>
            <th scope="col">Rating</th>
            <th scope="col">Appointments</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var organization in this.Model.Organizations)
        {
        <tr>
            <td>
                <img class="align-self-center" src="@organization.ImageUrl" style="width:180px;height:120px;">
            </td>
            <td scope="row">@organization.Name</td>
            <td>@organization.CategoryName</td>
            <td>@organization.CityName</td>
            <td>@organization.Address</td>
            <td><strong>@organization.Rating.ToString("F") / 5.00</strong> from <strong>@organization.RatersCount</strong> votes</td>
            <td>@organization.AppointmentsCount</td>
            <td>
                @if (organization.Id.StartsWith("seeded"))
                {
                <div class="text-muted" style="font-size:smaller">
                    Seeded Data <br /> Cannot Be Deleted
                </div> 
                }
                else
                {
                <form method="post">
                    <button type="submit" class="btn btn-danger btn-sm"
                            asp-area="Administration" asp-controller="Organizations" asp-action="DeleteOrganization" asp-route-id="@organization.Id">
                        Delete
                    </button>
                </form>
                }
            </td>
        </tr>
        }
    </tbody>
</table>
