@using SelectAndRepair.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div>
        <p>Select the most appropriate organization and repair your home.</p>
        @*<button class="btn btn-success">
            Make your quesstion
            </button>*@
    </div>
</div>
<hr />
<h2 class="text-center">Blog Posts</h2>
<div class="owl-carousel">
    @foreach (var post in Model.BlogPosts)
    {
        <div class="card m-3 card-img" style="width: 18rem;">
            <img src="@post.ImageUrl" style="height: 200px" alt="Card image cap">
            <div class="card-body" style="min-height: 18rem;">
                <h5 class="card-title" min-height="5rem">@post.Title</h5>
                <hr />
                <p class="card-text">@post.Content.Substring(0, DataValidations.ContentMinLength) ...</p>
                <h6 class="card-title text-right">автор: <b>@post.Author</b></h6>
            </div>
        </div>
    }
</div>

<a class="btn btn-secondary" asp-area="" asp-controller="BlogPosts" asp-action="Index">See all blog posts</a>

<div class="m-3"></div>

@section Scripts {
<script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
        items: 4,
        loop: true,
        margin: 200,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true
    });
    $('.play').on('click', function () {
        owl.trigger('play.owl.autoplay', [1000])
    })
    $('.stop').on('click', function () {
        owl.trigger('stop.owl.autoplay')
    })
</script>
}
